doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="pragma",content="no-cache")
        meta(http-equiv="cache-control" content="no-cache")
        title #{cityName}人民网 --#{cityName}人民的网站
body
  h1 #{title}-wenmu
  div 
    a(href="https://www.baidu.com")
    p.
      Using regular tags can help keep your lines short,
  but interpolated tags may be easier to #[em visualize]
  whether the tags and text are whitespace-separated.